variables:
    AUDIT_AWS_RDS_ALERT_LIST:
        required: false
        type: array
        default:
            - rds-inventory # not_violation 
            - rds-short-backup-retention-period # 
            - rds-no-auto-minor-version-upgrade # 
            - rds-db-publicly-accessible # 
        description: "Which rules would you like to run? Possible values are rds-inventory rds-short-backup-retention-period rds-no-auto-minor-version-upgrade rds-db-publicly-accessible"
